name: Create Jira issue when GitHub issue is opened
on:
  issues:
    types: [opened]

jobs:
  create_jira_issue:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Jira
        uses: atlassian/gajira-login@v3
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_TOKEN }}

      - name: Create Jira issue
        uses: atlassian/gajira-create@v3
        with:
          project: GDT        # your Jira project key
          issuetype: Task     # or Bug/Story etc.
          summary: "${{ github.event.issue.title }}"
          description: "${{ github.event.issue.body }}"
